/* Header */
header {
    width: 100%;
    min-height: 275px;
}
/* 
#home header{
    background: no-repeat lightgrey url(images/cliff_ocean.jpg);
    background-size: 1500px;
} 
#activities header{
    background: no-repeat lightgrey url(images/runfly.jpg);
    background-size: 1500px;
}
#contact header{
    background: no-repeat lightgrey url(images/cliff_rock.jpg);
    background-size: 1500px;
}
#cliffs header{
    background: no-repeat lightgrey url(images/forest_cliff.jpg);
    background-size: 1500px;
}
*/
#home {
    background: no-repeat white url(images/cliff_ocean.jpg);
    background-size: 100% 450px;
}
#activities {
    background: no-repeat white url(images/cliff_ocean.jpg);
    background-size: 100% 450px;
}
#contact {
    background: no-repeat white url(images/cliff_ocean.jpg);
    background-size: 100% 450px;
}
#cliffs {
    background: no-repeat white url(images/cliff_ocean.jpg);
    background-size: 100% 450px;
}

/* Navigation */
nav {
    width: 70%;
    font-weight: 400;
}
nav .logo {
    display: flex;
    align-items: center; /* Align items vertically within the logo container */
}
nav .logo img {
    width: 100px; /* Adjust width of the logo image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust margin as needed */
}
.navbar-expand-xl{
    padding:0px;
}
.navbar {
    margin: 50px auto 0;
    background-color: rgba(38, 41, 61, 0.7); /* Navbar background color with opacity */
}
.navbar .nav-link {
    color: rgb(255, 255, 255); /* Navbar text link color */
}
.navbar-collapse{
    margin-left: 30%;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    border-left:1px solid #6b6b6b;
    padding-left:5px;
    padding-right:25px;
    line-height: 84px;
    text-transform: uppercase;
    font-size: 14px;
}
.nav-item a {
    text-decoration:none;
    color:#8888;
}
nav ul li:hover{
    color:#9ed034;
}
nav ul li.active {
    background: #9ed034;
    border: none;
}
@media (max-width: 1199px) {
    .container button {
        margin-left: auto;
    }
    .container ul {
        margin-left: auto;
    }
    .navbar-collapse {
        position: absolute; /* Position the navbar collapse absolutely */
        top: 100%; /* Position it below the navbar */
        left: 0;
        right: 0;
        background-color: rgba(38, 41, 61, 0.7); /* Match navbar background */
        z-index: 1000; /* Ensure it is above other content */
    }
    nav ul li{
        border-left:none;
    }
    .navbar-collapse{
        margin-left: 0%;
    }
}





/* Main */
main {
    margin:70px;
    font-family: Arial, Helvetica, sans-serif;
}
main h1, main h2{
    text-align: center;
    color: #9ed034;
}
main h3 {
    text-align: center;
}
main div[class^="col"]{
    /* width:600px; */
    border:1px solid gray;
    margin:0px 10px;
    /* margin:5px; */
}

/* Partners */
section {
    width: 100%;
    background-color: #4299c3;
}
section #partners {
    width: 100%;
    padding: 2em 0;
    margin: 0 auto;
    text-align: center;
}
section #partners .partner{
    display: inline-block;
    margin: 0 0.75em;
    padding: 1.3em 1.3em;
    background-color: #fff;
    border-radius: 50%; /* Ensures the logo container is round */
    overflow: hidden; /* Prevents logos from protruding outside the circle */
    width: 150px; /* Adjust as necessary */
    height: 150px; /* Adjust as necessary */
    text-align: center; /* Centers the logo within its circular container */
    line-height: 120px; /* Vertically centers the logo */
}
section #partners .partner img {
    max-width: 100%; /* Ensures the logo image fills the circle */
    height: auto;
}
/* Footer */
footer {
    width: 100%;
    height: 155px;
    padding-bottom: 1em;
    background-color: #ecfab8;
}
footer #nondisclaimer .copy{
    padding: 3.5em 7em;
    float:left;
    font-size: 0.9em;
    text-align: center;
}
footer #nondisclaimer .social{
    padding: 3.5em 7em;
    border-radius: 50%; /* Ensures the logo container is round */
    float: right;
    text-align: center;
}
footer #disclaimer {
    clear:both;
}
footer #disclaimer p{
    font-size:0.85em;
    text-align: center;
}
footer #nondisclaimer .social .fa{
    font-size: 15px;
    width: 25px;
    height: 25px;
    text-align: center;
    text-decoration: none;
    margin:0 4px;
    border-radius: 50%;
    line-height: 25px;
}
footer #nondisclaimer .social .fa:hover{
    opacity: 0.7;
}
footer #nondisclaimer .social .fa-facebook{
    background:#3B5998;
    color: white;
}
footer #nondisclaimer .social .fa-twitter{
    background:#55ACEE;
    color: white;
}
footer #nondisclaimer .social .fa-instagram{
    background:#125688;
    color: white;
} 
/* Activities */
table {
    width: 1000px;
    margin: 4em auto 0 auto;
}
caption{
    caption-side: top;
    background: #85281B;
    height: 70px;
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding-top: 1em;
    text-align: center;
}    
thead{
    background:#BDE1FF;
    text-align: center;
}
tbody{
    background:#EEFFE6;
    text-align: center;
}
thead th,td{
    width: 225px;
    height: 75px;
    vertical-align: middle;
    border: solid 1px #852818;
}
thead th{
    font-weight: bold;
    background: #BDE1FF;
}
th:first-child {
    width: 125px;
    height: 50px;
    background: #4977D1;
    color: #fff;
}

td:first-child{
    font-weight:bold;
    background:#BDE1FF;
}


/* Form */
/* General form styling */
#contact form {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width */
}

#contact .contactinfo div{
    margin: 10px
}
#contact .contactinfo .phone span:first-child{
    font-weight: bold;
}
#contact .contactinfo .email span:first-child{
    font-weight: bold;
}
#contact form div{
    padding: 10px 30px;
}
#contact legend{
    font-weight: 800;
    color: #4977D1;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
#contact label {
    font-weight: bold;
    display: block;
    margin: 15px 0 0 0;
}
#contact .selectmenu label,
#contact .radios label{
    display: inline;
}
#contact input{
    height: 20px;
}
#contact textarea{
    resize: none;
    height: 300px;
}
#contact input[type="radio"] { /* attribute selector */
    width: 25px;
}
#contact .button {
    display:block;
    float: right;
}
#contact input[type="submit"] { /* attribute selector */
    width: 200px;
    height: 50px;
}
#contact select{
    width: 200px;
    text-align: center;
}

/* Cliff */
#cliffs table{
    width: 500px;
    background:#fff;
    margin: 0px;
    padding:0px;
    border-spacing: 0; /* Remove space between cells */
}
#cliffs table img{
    width: 500px;
}
#cliffs caption{
    padding-top: 15px;
}
#cliffs td,th{
    width: 500px;
    margin: 0px;
    padding:0px;
    background:#fff;
    border: none;
}
#cliffs .table_td {
    padding: 30px 50px;
}


/* Clock */
#timeofday {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(0deg, rgba(251,215,139,1) 0%, rgba(118,213,245,1) 100%);
    padding: 20px 0px;
    text-align: center; 
}

#timeofday span:nth-child(1) {
    color: #3a3a3a;
}
#timeofday span:nth-child(2) {
    color: #125688;
}

/* fieldset */

#contact input, textarea{
    width: 100%;
}
#contact .randomcode {
    text-align: right;
}
#contact .randomcode input{
    width: 100px;
}
#contact .randomcode p{
    display: inline;
    background-color: #b4b4b4;
    margin-left:10px;
    padding: 10px;
}

/* Activities Display Table */
#activities main #displaySelected {
    visibility: hidden;
    margin:0 auto;
    width:600px;
    border: 2px solid;
    padding:0.75em;
}
#activities main #displaySelected #result, #activities main #displaySelected #sendinfo {
    display:inline-block;
    margin:0;
}
#activities main #result {
    min-height:50px;
    width: 300px;
    padding:0;
}
#activities main #result h4 {
    margin-bottom:1em;
    font-size:1.15em;
}
#activities main #displaySelected #sendinfo input[type="email"] {
    width:200px;
}